[MESSAGES CONTROL]
disable=
    too-many-instance-attributes,
    too-many-arguments,
    duplicate-code,
    no-name-in-module,
    no-member,
    print-statement,
    bad-whitespace,
    missing-docstring
