[MASTER]

# Fichiers et répertoires à ignorer lors de l'analyse
ignore=CVS,.svn,.hg,.git,__pycache__,migrations

[MESSAGES CONTROL]

# Messages à désactiver
disable=
    missing-docstring,  # Les fonctions et les classes doivent avoir des docstrings


